body {
  font-family: 'Neucha', cursive;
}

.main-page {
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px;
  text-align: center;
}

.main-header {
  text-align: center;
  justify-content: center;
}

.text-area {
  text-align: justify;
  padding: 10px;
  max-width: 300px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: center;
}
.header {
  padding: 10px;
  background-color: #4C5B5C ;
}

.header-links {
  padding: 10px;
  color: whitesmoke;
}

/* test dropdown */

.price-dropdown {
  background-color: rgb(200, 200, 200);
  min-width: 50px;
  min-height: 30px;
  margin: 10px auto;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* test dropdown */



button {
  background-color: rgb(200, 200, 200);
  min-width: 50px;
  min-height: 30px;
}
.recommendation {
  padding: 5px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.breakfast {
  background-color: #FDE74C;
}

.price-button {
  margin: 10px;
}
.surprise-me-button{
  min-width: 100px;
  justify-content: space-evenly;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
}

.lunch {
  background-color: #DB5461;
}

.museum {
  background-color: #3891A6;
}

.park {
  background-color: #E3655B;
}

.dinner {
  background-color: #f4ae3b;
}

.footer {
  text-align: center;
}

h3 {
  text-align: center;
  width:33%;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}